services:
  database:
    container_name: postgres
    image:
      postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${USER}
      - POSTGRES_PASSWORD=${PASSWORD}
      - TZ=Europe/Moscow
    volumes:
      - ./db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 10s
      retries: 5

  restapi:
    container_name: rest
    build: .
    environment:
      - PG_USER=${USER}
      - PG_PASSWORD=${PASSWORD}
      - TZ=Europe/Moscow
    ports:
      - ${PORT}:8080
    depends_on:
      database:
        condition: service_healthy
    links:
      - database
